:root {
  --clr-black: #212121;
  --clr-folly: #eb003f;
  --clr-folly-100: #ffebf1;
  --clr-folly-200: #ffd8e2;
  --clr-folly-300: #ffc4d4;
  --clr-folly-400: #ffb0c5;
  --clr-folly-500: #ff9db7;
  --clr-folly-600: #ff89a8;
  --clr-folly-700: #ff759a;
  --clr-folly-800: #ff759a;
  --clr-folly-900: #ff628c;
  --clr-folly-1000: #ff4e7d;
  --clr-purple: #3b00db;
  --clr-purple-100: #f0eaff;
  --clr-purple-200: #e1d5ff;
  --clr-purple-300: #d1c1ff;
  --clr-purple-400: #c2acff;
  --clr-purple-500: #b397ff;
  --clr-purple-600: #a482ff;
  --clr-purple-700: #946eff;
  --clr-purple-800: #8559ff;
  --clr-purple-900: #7644ff;
  --clr-purple-1000: #672fff;
  --transition-time-fast: 0.15s;
  --transition-time-normal: 0.3s;
  --border-radius-small: 4px;
}

*,
html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--clr-black);
}

h1 {
  font-size: 2.986rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

#app {
  margin-bottom: 80px;
}

#page-header {
  background-color: var(--clr-black);
}
#page-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px max(4vw, 40px);
  color: white;
  font-size: 1.2rem;
  gap: 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  #page-header nav {
    gap: 1rem;
  }
}
#page-header nav ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 2rem;
  padding: unset;
}
#page-header nav p {
  color: white;
}
#page-header nav a {
  color: white;
  text-decoration: none;
}
#page-header nav .c-header-item-active {
  padding-bottom: 4px;
  border-bottom: 2px solid hsl(344, 100%, 50%);
}

.u-centralize-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-container {
  width: min(80%, 1368px);
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.u-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

.u-center-y {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-center-x {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.u-no-wrap {
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
}

.u-inline-scroll {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow-x: auto;
}

.c-link-regular {
  text-decoration: none;
  color: var(--clr-purple);
  border-bottom: 1px solid var(--clr-purple);
  -webkit-transition: border-bottom-color var(--transition-time-fast), color var(--transition-time-fast);
  transition: border-bottom-color var(--transition-time-fast), color var(--transition-time-fast);
}
.c-link-regular:hover, .c-link-regular:focus {
  color: color-mix(in srgb, transparent 20%, var(--clr-purple) 75%);
  border-bottom-color: color-mix(in srgb, transparent 20%, var(--clr-purple) 75%);
}