:root {
  --clr-black: #212121;

  --clr-folly: #eb003f;
  --clr-folly-100: #ffebf1;
  --clr-folly-200: #ffd8e2;
  --clr-folly-300: #ffc4d4;
  --clr-folly-400: #ffb0c5;
  --clr-folly-500: #ff9db7;
  --clr-folly-600: #ff89a8;
  --clr-folly-700: #ff759a;
  --clr-folly-800: #ff759a;
  --clr-folly-900: #ff628c;
  --clr-folly-1000: #ff4e7d;

  --clr-purple: #3b00db;
  --clr-purple-100: #f0eaff;
  --clr-purple-200: #e1d5ff;
  --clr-purple-300: #d1c1ff;
  --clr-purple-400: #c2acff;
  --clr-purple-500: #b397ff;
  --clr-purple-600: #a482ff;
  --clr-purple-700: #946eff;
  --clr-purple-800: #8559ff;
  --clr-purple-900: #7644ff;
  --clr-purple-1000: #672fff;

  --transition-time-fast: 0.15s;
  --transition-time-normal: 0.3s;

  --border-radius-small: 4px;
}

*,
html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--clr-black);
}

h1 {
  font-size: 2.986rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

#app {
  margin-bottom: 80px;
}

#page-header {
  background-color: var(--clr-black);

  nav {
    display: flex;
    padding: 16px max(4vw, 40px);
    color: white;
    font-size: 1.2rem;
    gap: 4rem;
    flex-wrap: wrap;

    @media only screen and (max-width: 600px) {
      gap: 1rem;
    }

    ul {
      list-style: none;
      display: inline-flex;
      gap: 2rem;
      padding: unset;
    }

    p {
      color: white;
    }

    a {
      color: white;
      text-decoration: none;
    }

    .c-header-item-active {
      padding-bottom: 4px;
      border-bottom: 2px solid hsl(344, 100%, 50%);
    }
  }
}

@mixin section-centralized {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.u-centralize-section {
  @include section-centralized();
}

.c-container {
  width: min(80%, 1368px);
  margin-inline: auto;
  display: flex;
}

.u-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.u-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.u-center-y {
  align-items: center;
}

.u-center-x {
  justify-content: center;
}

.u-no-wrap {
  flex-grow: unset;
}

.u-inline-scroll {
  flex-shrink: 0;
  overflow-x: auto;
}

// Hyperlink Styles
@mixin hyperlink-regular {
  text-decoration: none;
  color: var(--clr-purple);

  border-bottom: 1px solid var(--clr-purple);

  transition: border-bottom-color var(--transition-time-fast), color var(--transition-time-fast);

  &:hover,
  &:focus {
    $color: color-mix(in srgb, transparent 20%, var(--clr-purple) 75%);
    color: $color;
    border-bottom-color: $color;
  }
}

.c-link-regular {
  @include hyperlink-regular();
}
