:root {
  --clr-black: #212121;
}

body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18;
  line-height: 1.6;
}

h1 {
  color: var(--clr-black);
  font-size: 2.986rem;
}

#page-header {
  background-color: var(--clr-black);

  nav {
    display: flex;
    padding: 20px max(4vw, 40px);
    color: white;
    font-size: 1.2rem;
    gap: 1rem;

    a {
      color: white;
      text-decoration: none;
    }

    .c-header-item-active {
      border-bottom: 2px solid red;
    }
  }
}

.c-container {
  width: min(80%, 1600px);
  margin-inline: auto;
  outline: 1px solid red;
}
