:root {
  --clr-black: #212121;
  --transition-time-fast: 0.15s;
  --transition-time-normal: 0.3s;
  --border-radius-small: 4px;
}

body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18;
  line-height: 1.6;
}

h1 {
  color: var(--clr-black);
  font-size: 2.986rem;
}

#app {
  margin-bottom: 80px;
}

#page-header {
  background-color: var(--clr-black);
}
#page-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px max(4vw, 40px);
  color: white;
  font-size: 1.2rem;
  gap: 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  #page-header nav {
    gap: 1rem;
  }
}
#page-header nav ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 2rem;
  padding: unset;
}
#page-header nav a {
  color: white;
  text-decoration: none;
}
#page-header nav .c-header-item-active {
  padding-bottom: 4px;
  border-bottom: 2px solid hsl(344, 100%, 50%);
}

.u-centralize-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-container {
  width: min(80%, 1600px);
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

.u-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.u-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

.u-center-y {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-center-x {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.u-no-wrap {
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
}

.u-inline-scroll {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow-x: auto;
}